DJANGO_SECRET_KEY=your-secret-key-here
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/NoiseDatabase?retryWrites=true&w=majority
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000
